<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bien By Tracy || Template</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Font%20Awesome%205%20Brands.css">
    <link rel="stylesheet" href="assets/css/Font%20Awesome%205%20Free.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/spacing.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/venobox.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/jquery.exzoom.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
<section class="fp__topbar" style="background: #f8cfc9;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xl-6">
                <ul class="d-flex flex-wrap fp__topbar_info">
                    <li style="color: var(--colorBlack);"><i class="fas fa-envelope"></i><span style="color: rgb(0, 0, 0);">&nbsp;bienbytracy@gmail.com</span></li>
                    <li><a><i class="fas fa-phone-alt" style="color: rgb(0,0,0);"></i> +96487452145214</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-xl-6 d-none d-md-block">
                <ul class="d-flex flex-wrap topbar_icon">
                    <li><i class="fab fa-facebook-f" style="margin: 10px;"></i></li>
                    <li><i class="fab fa-instagram" style="margin: 10px;"></i></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<nav class="navbar navbar-expand-lg main_menu">
    <div class="container"><a class="navbar-brand" href="index.html"><img class="img-fluid" src="assets/img/logo.png" alt="FoodPark"></a><button data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><i class="far fa-bars" style="font-family: 'Font Awesome 5 Brands';"></i></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="index.html" style="color: #8c592b;">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="menu.html">Order Cakes Here</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">contact Us</a></li>
            </ul>
            <ul class="d-flex flex-wrap menu_icon">
                <li><a class="menu_search" href="#"><i class="far fa-search"></i></a>
                    <div class="fp__search_form">
                        <form><span class="close_search"><i class="far fa-times"></i></span><input type="text" placeholder="Search . . ."><button type="submit">search</button></form>
                    </div>
                </li>
                <li><a class="cart_icon"><i class="fas fa-shopping-basket"></i><span>5</span></a></li>
                <li><i class="fas fa-user"></i></li>
                <li></li>
            </ul>
        </div>
    </div>
</nav>
<div class="fp__menu_cart_area">
    <div class="fp__menu_cart_boody">
        <div class="fp__menu_cart_header">
            <h5>total item (05)</h5><span class="close_cart"><i class="fal fa-times"></i></span>
        </div>
        <ul>
            <li>
                <div class="menu_cart_img"><img class="img-fluid w-100" src="assets/img/menu8.png" alt="menu"></div>
                <div class="menu_cart_text"><a class="title" href="#">Hyderabadi Biryani </a>
                    <p class="size">small</p><span class="extra">coca-cola</span><span class="extra">7up</span>
                    <p class="price">₱99.00 <del>₱110.00</del></p>
                </div><span class="del_icon"><i class="fal fa-times"></i></span>
            </li>
            <li>
                <div class="menu_cart_img"><img class="img-fluid w-100" src="assets/img/menu4.png" alt="menu"></div>
                <div class="menu_cart_text"><a class="title" href="#">Chicken Masalas</a>
                    <p class="size">medium</p><span class="extra">7up</span>
                    <p class="price">₱70.00</p>
                </div><span class="del_icon"><i class="fal fa-times"></i></span>
            </li>
            <li>
                <div class="menu_cart_img"><img class="img-fluid w-100" src="assets/img/menu5.png" alt="menu"></div>
                <div class="menu_cart_text"><a class="title" href="#">Competently Supply Customized Initiatives</a>
                    <p class="size">large</p><span class="extra">coca-cola</span><span class="extra">7up</span>
                    <p class="price">₱120.00 <del>₱150.00</del></p>
                </div><span class="del_icon"><i class="fal fa-times"></i></span>
            </li>
            <li>
                <div class="menu_cart_img"><img class="img-fluid w-100" src="assets/img/menu6.png" alt="menu"></div>
                <div class="menu_cart_text"><a class="title" href="#">Hyderabadi Biryani</a>
                    <p class="size">small</p><span class="extra">7up</span>
                    <p class="price">₱59.00</p>
                </div><span class="del_icon"><i class="fal fa-times"></i></span>
            </li>
            <li>
                <div class="menu_cart_img"><img class="img-fluid w-100" src="assets/img/menu1.png" alt="menu"></div>
                <div class="menu_cart_text"><a class="title" href="#">Competently Supply</a>
                    <p class="size">medium</p><span class="extra">coca-cola</span><span class="extra">7up</span>
                    <p class="price">₱99.00 <del>₱110.00</del></p>
                </div><span class="del_icon"><i class="fal fa-times"></i></span>
            </li>
        </ul>
        <p class="subtotal">sub total <span>₱1220.00</span></p><a class="cart_view" href="cart_view.html"> view cart</a><a class="checkout" href="check_out.html">checkout</a>
    </div>
</div>
    <section class="fp__breadcrumb" style="background:url(assets/img/counter_bg.jpg);">
        <div class="fp__breadcrumb_overlay">
            <div class="container">
                <div class="fp__breadcrumb_text">
                    <h1>menu Details</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="fp__menu_details mt_115 xs_mt_85 mb_95 xs_mb_65">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-5 wow fadeInUp" data-wow-duration="1s">
                    <div class="exzoom hidden" id="exzoom">
                        <div class="exzoom_img_box fp__menu_details_images">
                            <ul class="exzoom_img_ul">
                                <li><img class="zoom ing-fluid w-100" src="assets/img/slider_img_2.png" alt="product"></li>
                                <li><img class="zoom ing-fluid w-100" src="assets/img/menu2.png" alt="product"></li>
                                <li><img class="zoom ing-fluid w-100" src="assets/img/menu3.png" alt="product"></li>
                                <li><img class="zoom ing-fluid w-100" src="assets/img/menu4.png" alt="product"></li>
                                <li><img class="zoom ing-fluid w-100" src="assets/img/menu5.png" alt="product"></li>
                                <li><img class="zoom ing-fluid w-100" src="assets/img/menu6.png" alt="product"></li>
                                <li><img class="zoom ing-fluid w-100" src="assets/img/menu7.png" alt="product"></li>
                                <li><img class="zoom ing-fluid w-100" src="assets/img/menu8.png" alt="product"></li>
                                <li><img class="zoom ing-fluid w-100" src="assets/img/menu1.png" alt="product"></li>
                                <li><img class="zoom ing-fluid w-100" src="assets/img/menu2.png" alt="product"></li>
                            </ul>
                        </div>
                        <div class="exzoom_nav"></div>
                        <p class="exzoom_btn"><a class="exzoom_prev_btn"><i class="far fa-chevron-left"></i></a><a class="exzoom_next_btn"><i class="far fa-chevron-right"></i></a></p>
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInUp" data-wow-duration="1s">
                    <div class="fp__menu_details_text">
                        <h2>Vintage Cake Customized 4"</h2>
                        <p class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><span>(201)</span></p>
                        <h3 class="price">Php 320.00</h3>
                        <p class="short_description">Pizza is a savory dish of Italian origin consisting of a usually round, flattened base of leavened wheat-based dough topped with tomatoes, cheese, and often various other ingredients, which is then baked at a high temperature, traditionally in a wood-fired oven. A small pizza is sometimes called a pizzetta.</p>
                        <div class="details_size">
                            <h5>select Cake Fillings</h5>
                            <div class="form-check"><input type="radio" checked="" class="form-check-input" id="large" name="flexRadioDefault"><label class="form-label form-check-label" for="large">&nbsp;Choco Ganache<span>+ ₱350</span></label></div>
                            <div class="form-check"><input type="radio" class="form-check-input" id="medium" name="flexRadioDefault"><label class="form-label form-check-label" for="medium">Caramel<span>+ ₱250</span></label></div>
                            <div class="form-check"><input type="radio" class="form-check-input" id="small" name="flexRadioDefault"><label class="form-label form-check-label" for="small">Ube<span>+ ₱150</span></label></div>
                            <div class="form-check"><input type="radio" class="form-check-input" id="small-2" name="flexRadioDefault"><label class="form-label form-check-label" for="small">Blueberry<span>+ ₱150</span></label></div>
                            <div class="form-check"><input type="radio" class="form-check-input" id="small-3" name="flexRadioDefault"><label class="form-label form-check-label" for="small">Strawberry&nbsp;<span>+ ₱150</span></label></div>
                            <div class="form-check"><input type="radio" class="form-check-input" id="small-4" name="flexRadioDefault"><label class="form-label form-check-label" for="small">Matcha<span>+ ₱150</span></label></div>
                            <div class="form-check"><input type="radio" class="form-check-input" id="small-5" name="flexRadioDefault"><label class="form-label form-check-label" for="small">Cream Cheese<span>+ ₱150</span></label></div>
                            <div class="form-check"><input type="radio" class="form-check-input" id="small-6" name="flexRadioDefault"><label class="form-label form-check-label" for="small" style="width: 179.5px;">Fresh Whipped Cream<span>+ ₱150</span></label></div>
                            <div class="form-check"><input type="radio" class="form-check-input" id="small-7" name="flexRadioDefault"><label class="form-label form-check-label" for="small" style="width: 179.5px;">Oreo Crunched&nbsp;<span>+ ₱150</span></label></div>
                        </div>
                        <div class="details_size">
                            <h5>select Frosting</h5>
                            <div class="form-check"><input type="radio" id="whippedcream" class="form-check-input" checked="" name="flexRadioDefault"><label class="form-label form-check-label" for="large">&nbsp;Whipped Cream<span>+ ₱350</span></label></div>
                            <div class="form-check"><input type="radio" id="buttercream" class="form-check-input" name="flexRadioDefault"><label class="form-label form-check-label" for="medium">&nbsp;Buttercream<span>+ ₱250</span></label></div>
                        </div>
                        <div class="details_size">
                            <h5>select Cake Shape</h5>
                            <div class="form-check"><input type="radio" id="heart" class="form-check-input" checked="" name="flexRadioDefault"><label class="form-label form-check-label" for="large">&nbsp;Heart<span>+ ₱350</span></label></div>
                            <div class="form-check"><input type="radio" id="round" class="form-check-input" name="flexRadioDefault"><label class="form-label form-check-label" for="medium">&nbsp;Round<span>+ ₱250</span></label></div>
                        </div>
                        <div class="details_size">
                            <h5>Cake Flavor</h5>
                            <div class="form-check"><input type="radio" id="moistchoco" class="form-check-input" checked="" name="flexRadioDefault"><label class="form-label form-check-label" for="large">&nbsp;Moist Choco<span>+ ₱350</span></label></div>
                            <div class="form-check"><input type="radio" id="Vanilla-Chiffon" class="form-check-input" name="flexRadioDefault"><label class="form-label form-check-label" for="medium">&nbsp;Vanilla Chiffon<span>+ ₱250</span></label></div>
                            <div class="form-check"><input type="radio" id="Mocha-Chiffon" class="form-check-input" name="flexRadioDefault"><label class="form-label form-check-label" for="medium">&nbsp;Mocha Chiffon<span>+ ₱250</span></label></div>
                            <div class="form-check"><input type="radio" id="Mocha-Chiffon-1" class="form-check-input" name="flexRadioDefault"><label class="form-label form-check-label" for="medium">&nbsp;Red Velvet<span>+ ₱250</span></label></div>
                            <div class="form-check"><input type="radio" id="Mocha-Chiffon-2" class="form-check-input" name="flexRadioDefault"><label class="form-label form-check-label" for="medium">&nbsp;Carrot w walnuts<span>+ ₱250</span></label></div>
                            <div class="form-check"><input type="radio" id="Mocha-Chiffon-3" class="form-check-input" name="flexRadioDefault"><label class="form-label form-check-label" for="medium">&nbsp;Matcha<span>+ ₱250</span></label></div>
                            <div class="form-check"><input type="radio" id="Mocha-Chiffon-4" class="form-check-input" name="flexRadioDefault"><label class="form-label form-check-label" for="medium">&nbsp;Ube<span>+ ₱250</span></label></div>
                        </div>
                        <div class="details_extra_item">
                            <h5>select option <span>(optional)</span></h5>
                            <div class="form-check"><input type="checkbox" class="form-check-input" id="coca-cola" value=""><label class="form-label form-check-label" for="coca-cola">&nbsp; Candle<span>+ ₱10</span></label></div>
                        </div>
                        <div class="details_quentity">
                            <h5>select quantity</h5>
                            <div class="d-flex align-items-center quentity_btn_area flex-wrapa">
                                <div class="quentity_btn"><button class="btn btn-danger"><i class="fal fa-minus"></i></button><input type="text" placeholder="1"><button class="btn btn-success"><i class="fal fa-plus"></i></button></div>
                                <h3>₱320.00</h3>
                            </div>
                        </div>
                        <ul class="d-flex flex-wrap details_button_area">
                            <li><a class="common_btn" href="#">add to cart</a></li>
                            <li><a class="wishlist" href="#"><i class="far fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 wow fadeInUp" data-wow-duration="1s">
                    <div class="fp__menu_description_area mt_100 xs_mt_70">
                        <ul class="nav nav-pills" role="tablist" id="pills-tab"></ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show" role="tabpanel" id="pills-home" aria-labelledby="pills-home-tab" tabindex="0">
                                <div class="menu_det_description">
                                    <p>Ipsum dolor, sit amet consectetur adipisicing elit. Doloribus consectetur ullam in? Beatae, dolorum ad ea deleniti ratione voluptatum similique omnis voluptas tempora optio soluta vero veritatis reiciendis blanditiis architecto. Debitis nesciunt inventore voluptate tempora ea incidunt iste, corporis, quo cumque facere doloribus possimus nostrum sed magni quasi, assumenda autem! Repudiandae nihil magnam provident illo alias vero odit repellendus, ipsa nemo itaque. Aperiam fuga, magnam quia illum minima blanditiis tempore. vero veritatis reiciendis blanditiis architecto. Debitis nesciunt inventore voluptate tempora ea incidunt iste, corporis, quo cumque facere doloribus possimus nostrum sed magni quasi</p>
                                    <ul>
                                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus consectetur ullam in</li>
                                        <li>Dolor sit amet consectetur adipisicing elit. Earum itaque nesciunt.</li>
                                        <li>Corporis, quo cumque facere doloribus possimus nostrum sed magni quasi.</li>
                                        <li>Reiciendis blanditiis architecto. Debitis nesciunt inventore voluptate tempora ea.</li>
                                        <li>Incidunt iste, corporis, quo cumque facere doloribus possimus nostrum sed magni quasi</li>
                                        <li>Architecto. Debitis nesciunt inventore voluptate tempora ea incidunt iste corporis.</li>
                                        <li>Earum itaque nesciunt dolor laudantium placeat sed velit aspernatur.</li>
                                        <li>Laudantium placeat sed velit aspernatur, nobis quos quibusdam distinctio voluptatum.</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum itaque nesciunt dolor laudantium placeat sed velit aspernatur, nobis quos quibusdam distinctio voluptatum officia vel sapiente enim, reprehenderit impedit beatae molestias dolorum. A laborum consectetur sed quis exercitationem optio consequatur, unde neque est odit, pariatur quae incidunt quasi dolorem nihil aliquid ut veritatis porro eaque cupiditate voluptatem vel ad! Asperiores, praesentium. sit amet consectetur adipisicing elit. Doloribus consectetur ullam in? Beatae, dolorum ad ea deleniti ratione voluptatum similique omnis voluptas tempora optio soluta</p>
                                    <ul>
                                        <li>Reiciendis blanditiis architecto. Debitis nesciunt inventore voluptate tempora ea.</li>
                                        <li>Incidunt iste, corporis, quo cumque facere doloribus possimus nostrum sed magni quasi</li>
                                        <li>Architecto. Debitis nesciunt inventore voluptate tempora ea incidunt iste corporis.</li>
                                        <li>Earum itaque nesciunt dolor laudantium placeat sed velit aspernatur.</li>
                                        <li>Laudantium placeat sed velit aspernatur, nobis quos quibusdam distinctio voluptatum.</li>
                                    </ul>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus consectetur ullam in? Beatae, dolorum ad ea deleniti ratione voluptatum similique omnis voluptas tempora optio soluta vero veritatis reiciendis blanditiis architecto. Debitis nesciunt inventore voluptate tempora ea incidunt iste, corporis, quo cumque facere doloribus possimus nostrum sed magni quasi, assumenda autem! Repudiandae nihil magnam provident illo alias vero odit repellendus, ipsa nemo itaque. Aperiam fuga, magnam quia illum minima blanditiis tempore.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" role="tabpanel" id="pills-contact" aria-labelledby="pills-contact-tab" tabindex="0">
                                <div class="fp__review_area">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <h4>04 reviews</h4>
                                            <div class="fp__comment pt-0 mt_20">
                                                <div class="border-0 fp__single_comment m-0"><img class="img-fluid" src="assets/img/comment_img_1.png" alt="review">
                                                    <div class="fp__single_comm_text">
                                                        <h3>Michel Holder <span>29 oct 2022 </span></h3><span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fad fa-star-half-alt"></i><i class="fal fa-star"></i><b>(120)</b></span>
                                                        <p>Sure there isn't anything embarrassing hiidden in the middles of text. All erators on the Internet tend to repeat predefined chunks</p>
                                                    </div>
                                                </div>
                                                <div class="fp__single_comment"><img class="img-fluid" src="assets/img/chef_1.jpg" alt="review">
                                                    <div class="fp__single_comm_text">
                                                        <h3>salina khan <span>29 oct 2022 </span></h3><span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fad fa-star-half-alt"></i><i class="fal fa-star"></i><b>(120)</b></span>
                                                        <p>Sure there isn't anything embarrassing hiidden in the middles of text. All erators on the Internet tend to repeat predefined chunks</p>
                                                    </div>
                                                </div>
                                                <div class="fp__single_comment"><img class="img-fluid" src="assets/img/comment_img_2.png" alt="review">
                                                    <div class="fp__single_comm_text">
                                                        <h3>Mouna Sthesia <span>29 oct 2022 </span></h3><span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fad fa-star-half-alt"></i><i class="fal fa-star"></i><b>(120)</b></span>
                                                        <p>Sure there isn't anything embarrassing hiidden in the middles of text. All erators on the Internet tend to repeat predefined chunks</p>
                                                    </div>
                                                </div>
                                                <div class="fp__single_comment"><img class="img-fluid" src="assets/img/chef_3.jpg" alt="review">
                                                    <div class="fp__single_comm_text">
                                                        <h3>marjan janifar <span>29 oct 2022 </span></h3><span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fad fa-star-half-alt"></i><i class="fal fa-star"></i><b>(120)</b></span>
                                                        <p>Sure there isn't anything embarrassing hiidden in the middles of text. All erators on the Internet tend to repeat predefined chunks</p>
                                                    </div>
                                                </div><a href="#" class="load_more">load More</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="fp__post_review">
                                                <h4>write a Review</h4>
                                                <form>
                                                    <p class="rating"><span>select your rating : </span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                                                    <div class="row">
                                                        <div class="col-xl-12"><input type="text" placeholder="Name"></div>
                                                        <div class="col-xl-12"><input type="email" placeholder="Email"></div>
                                                        <div class="col-xl-12"><textarea placeholder="Write your review" rows="3"></textarea></div>
                                                        <div class="col-12"><button class="common_btn" type="submit">submit review</button></div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fp__related_menu mt_90 xs_mt_60">
                <h2>related item</h2>
                <div class="row related_product_slider">
                    <div class="col-xl-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="fp__menu_item">
                            <div class="fp__menu_item_img"><img class="img-fluid w-100" src="assets/img/menu2_img_1.jpg" alt="menu"><a class="category" href="#">chicken</a></div>
                            <div class="fp__menu_item_text">
                                <p class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><span>74</span></p><a class="title" href="menu_details.html">chicken Masala</a>
                                <h5 class="price">₱80.00 <del>90.00</del></h5>
                                <ul class="d-flex justify-content-center flex-wrap">
                                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#cartModal"><i class="fas fa-shopping-basket"></i></a></li>
                                    <li><i class="fal fa-heart"></i></li>
                                    <li><i class="far fa-eye"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="fp__menu_item">
                            <div class="fp__menu_item_img"><img class="img-fluid w-100" src="assets/img/menu2_img_2.jpg" alt="menu"><a class="category" href="#">chicken</a></div>
                            <div class="fp__menu_item_text">
                                <p class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><span>120</span></p><a class="title" href="menu_details.html">chicken Masala</a>
                                <h5 class="price">₱80.00 <del>90.00</del></h5>
                                <ul class="d-flex justify-content-center flex-wrap">
                                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#cartModal"><i class="fas fa-shopping-basket"></i></a></li>
                                    <li><i class="fal fa-heart"></i></li>
                                    <li><i class="far fa-eye"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="fp__menu_item">
                            <div class="fp__menu_item_img"><img class="img-fluid w-100" src="assets/img/menu2_img_3.jpg" alt="menu"><a class="category" href="#">Biryani</a></div>
                            <div class="fp__menu_item_text">
                                <p class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><span>514</span></p><a class="title" href="menu_details.html">Hyderabadi biryani</a>
                                <h5 class="price">₱70.00</h5>
                                <ul class="d-flex justify-content-center flex-wrap">
                                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#cartModal"><i class="fas fa-shopping-basket"></i></a></li>
                                    <li><i class="fal fa-heart"></i></li>
                                    <li><i class="far fa-eye"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="fp__menu_item">
                            <div class="fp__menu_item_img"><img class="img-fluid w-100" src="assets/img/menu2_img_4.jpg" alt="menu"><a class="category" href="#">grill</a></div>
                            <div class="fp__menu_item_text">
                                <p class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><span>25</span></p><a class="title" href="menu_details.html">daria shevtsova</a>
                                <h5 class="price">₱99.00</h5>
                                <ul class="d-flex justify-content-center flex-wrap">
                                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#cartModal"><i class="fas fa-shopping-basket"></i></a></li>
                                    <li><i class="fal fa-heart"></i></li>
                                    <li><i class="far fa-eye"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 wow fadeInUp" data-wow-duration="1s">
                        <div class="fp__menu_item">
                            <div class="fp__menu_item_img"><img class="img-fluid w-100" src="assets/img/menu2_img_5.jpg" alt=" menu"><a class="category" href="#">chicken</a></div>
                            <div class="fp__menu_item_text">
                                <p class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><span>324</span></p><a class="title" href="menu_details.html">chicken Masala</a>
                                <h5 class="price">₱80.00 <del>90.00</del></h5>
                                <ul class="d-flex justify-content-center flex-wrap">
                                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#cartModal"><i class="fas fa-shopping-basket"></i></a></li>
                                    <li><i class="fal fa-heart"></i></li>
                                    <li><i class="far fa-eye"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="fp__cart_popup">
        <div class="modal fade" role="dialog" tabindex="-1" id="cartModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body"><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                        <div class="fp__cart_popup_img"><img class="img-fluid w-100" alt="menu" src="assets/img/menu1.png"></div>
                        <div class="fp__cart_popup_text"><a class="title" href="#">Maxican Pizza Test Better</a>
                            <p class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><span>(201)</span></p>
                            <h4 class="price">₱320.00 <del>₱350.00</del></h4>
                            <div class="details_size">
                                <h5>select size</h5>
                                <div class="form-check"><input type="radio" checked="" class="form-check-input" id="large01" name="flexRadioDefault"><label class="form-label form-check-label" for="large01"> large <span>+ ₱350</span></label></div>
                                <div class="form-check"><input type="radio" class="form-check-input" id="medium01" name="flexRadioDefault"><label class="form-label form-check-label" for="medium01"> medium <span>+ ₱250</span></label></div>
                                <div class="form-check"><input type="radio" class="form-check-input" id="small01" name="flexRadioDefault"><label class="form-label form-check-label" for="small01"> small <span>+ ₱150</span></label></div>
                            </div>
                            <div class="details_extra_item">
                                <h5>select option <span>(optional)</span></h5>
                                <div class="form-check"><input type="checkbox" class="form-check-input" id="coca-cola01" value=""><label class="form-label form-check-label" for="coca-cola01"> coca-cola <span>+ ₱10</span></label></div>
                                <div class="form-check"><input type="checkbox" class="form-check-input" id="7up01" value=""><label class="form-label form-check-label" for="7up01"> 7up <span>+ ₱15</span></label></div>
                            </div>
                            <div class="details_quentity">
                                <h5>select quentity</h5>
                                <div class="d-flex align-items-center quentity_btn_area flex-wrapa">
                                    <div class="quentity_btn"><button class="btn btn-danger"><i class="fal fa-minus"></i></button><input type="text" placeholder="1"><button class="btn btn-success"><i class="fal fa-plus"></i></button></div>
                                    <h3>₱320.00</h3>
                                </div>
                            </div>
                            <ul class="d-flex flex-wrap details_button_area">
                                <li><a class="common_btn" href="#">add to cart</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer>
    <div class="footer_overlay pt_100 xs_pt_70 pb_100 xs_pb_70">
        <div class="container wow fadeInUp" data-wow-duration="1s">
            <div class="row justify-content-between">
                <div class="col-sm-8 col-md-6 col-lg-4">
                    <div class="fp__footer_content"><a class="footer_logo" href="index.html"><img class="img-fluid w-100" src="assets/img/logo.png" alt="FoodPark" width="150" height="50"></a><span style="color: rgb(0,0,0);">There are many variations of Lorem Ipsum available, but the majority have suffered.</span>
                        <p class="info" style="color: rgb(0,0,0);"><i class="far fa-map-marker-alt"></i> 7232 Broadway Suite 308, Jackson Heights, 11372, NY, United States</p><a class="info" style="color: rgb(0,0,0);"><i class="fas fa-phone-alt"></i> +1347-430-9510</a><a class="info" href="mailto:websolutionus1@gmail.com" style="color: rgb(0,0,0);"><i class="fas fa-envelope"></i> websolutionus1@gmail.com</a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-2">
                    <div class="fp__footer_content">
                        <h3 style="color: rgb(0,0,0);border-bottom-color: rgb(0,0,0);">Short Link</h3>
                        <ul>
                            <li style="color: rgb(0,0,0);"><a href="#"><span style="color: rgb(0, 0, 0);">Home</span></a></li>
                            <li><a href="#"><span style="color: rgb(0, 0, 0);">About Us</span></a></li>
                            <li><a href="#"><span style="color: rgb(0, 0, 0);">Contact Us</span></a></li>
                            <li><a href="#"><span style="color: rgb(0, 0, 0);">Our Service</span></a></li>
                            <li><a href="#"><span style="color: rgb(0, 0, 0);">gallery</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-2 order-sm-4 order-lg-3">
                    <div class="fp__footer_content">
                        <h3 style="color: rgb(0,0,0);border-bottom-color: rgb(0,0,0);">Help Link</h3>
                        <ul>
                            <li><a href="#"><span style="color: rgb(0, 0, 0);">Terms And Conditions</span></a></li>
                            <li><a href="#"><span style="color: rgb(0, 0, 0);">Privacy Policy</span></a></li>
                            <li><a href="#"><span style="color: rgb(0, 0, 0);">Refund Policy</span></a></li>
                            <li><a href="#"><span style="color: rgb(0, 0, 0);">FAQ</span></a></li>
                            <li><a href="#"><span style="color: rgb(0, 0, 0);">contact</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-lg-3 order-lg-4">
                    <div class="fp__footer_content">
                        <h3 style="color: rgb(0,0,0);border-bottom-color: rgb(0,0,0);">subscribe</h3>
                        <form><input type="text" placeholder="Subscribe"><button>Subscribe</button></form>
                        <div class="fp__footer_social_link">
                            <h5 style="color: rgb(0,0,0);border-bottom-color: rgb(0,0,0);">follow us:</h5>
                            <ul class="d-flex flex-wrap">
                                <li><i class="fab fa-facebook-f" style="color: rgb(0,0,0);"></i></li>
                                <li></li>
                                <li></li>
                                <li style="border-bottom-color: rgb(0,0,0);color: rgb(0,0,0);"><i class="fab fa-instagram" style="margin-left: 13px;"></i></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap fp__footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between flex-wrap fp__footer_bottom_text">
                        <p>Copyright 2024&nbsp;<b>Bien By Tracy</b> All Rights Reserved.</p>
                        <ul class="d-flex flex-wrap">
                            <li style="color: rgb(0,0,0);"><a href="#">FAQs</a></li>
                            <li><a href="#">payment</a></li>
                            <li><a href="#">settings</a></li>
                            <li><a href="#">privacy policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <div class="fp__scroll_btn"><span> go to top </span></div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/Font-Awesome.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/simplyCountdown.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/jquery.countup.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/venobox.min.js"></script>
    <script src="assets/js/sticky_sidebar.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/jquery.exzoom.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>
